* {
    margin: 0;
    padding: 0;
}

.register {
    height: 100vh;
    background-color: #cbf3ff;
    background: linear-gradient(135deg, #bcefff, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-register {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    min-width: 850px;
    overflow: hidden;
}

.left {
    flex: 1;
    background: linear-gradient(hsla(213, 74%, 25%, 0.700), hsla(213, 74%, 25%, 0.700)),
        url("https://lh3.googleusercontent.com/p/AF1QipNWK3xa0Tg7HBwRuyrQnp_VWe_2HM14W_kEJlbw=s680-w680-h510") center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.title-register {
    font-size: 60px;
    line-height: 60px;
}

.span-pregunta {
    font-size: 14px;
}

p {
    line-height: 1.5;
}


.btn-register-login {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: white;
    color: #113C70;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.btn-register-registrarse {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #113C70;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.btn-register-login:hover {
    transform: scale(1.05);
}

.btn-register-registrarse:hover {
    transform: scale(1.05);
}

.right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.form-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-register {
    color: #555;
    display: flex;
    justify-content: center;
}

input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}

.register-ug-logo {
    display: flex;
    width: 140px;
    margin: 0 auto;
}